<!-- HEADER -->
<div id="header_wrap" class="outer">
    <header class="inner">

        <div class="header-flex-wrap">
            <div class="header-title-flex-item">

                <h1 id="project_title"><a href="{{ root_url }}"> {{ site.title | default: site.github.repository_name }} </a></h1>
                <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>

                <div class="social-links">
                    <h3 class="h3-title">Find Me</h3>
                    <ul>
                        <li>
                            <a href="https://stackoverflow.com/users/3910619/zola25" target="_blank"><img src="https://stackoverflow.com/users/flair/3910619.png?theme=clean" alt="profile for Mike Towill at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="Profile for Mike Towill at Stack Overflow, Q&amp;A for professional and enthusiast programmers" width="208" height="58"></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/mike-towill-b54ab21b" target="_blank"><img class="linkedin-logo" src="/assets/img/LI-Logo.png" alt="Mike Towill's LinkedIn profile" title="Mike Towill's LinkedIn profile"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="recent-posts-flex-item">
                <div class="recent-posts">
                    <h3 class="h3-title">Recent Posts</h3>
                    <ul>
                        {% for post in site.posts limit:5 %}
                        <li>
                            <a href="{{ post.url }}">{{ post.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">

        <div style="text-align: center;">
            <h2>{{ page.title }}</h2>
            {{ page.date | date: '%B %d, %Y' }}
            {{ page.url }}
        </div>


        {{ content }}


    </section>
</div>

<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
    <footer class="inner">
        <hr />
        <div class="share">
            <h3 class="h3-title">Share this article</h3>
            <div class="share-facebook">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ post.url}}" target="_blank">
                    <img src="/assets/img/f_logo_RGB-Hex-Blue_512.png" alt="Share on Facebook" title="Share on Facebook" />
                </a>
            </div>
            <div class="share-linkedin">
                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ post.url}}&title={{ page.title }}" target="_blank">
                    <img src="/assets/img/LI-In-Bug.png" alt="Share on LinkedIn" title="Share on LinkedIn" />
                </a>
            </div>
        </div>

        <hr />

        <div class="copyright">
            <p>&copy; {{ 'now' | date :'%Y' }} - Solores Software</p>
        </div>

    </footer>
</div>