---
---

@import "{{ site.theme }}";

body {
    -moz-tab-size: 4;
    tab-size: 4;
}

.inner {
    max-width: 992px;
}


#project_title {
    a {
        color: inherit;
    }
}

.header-flex-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.header-title-flex-item {
    margin-right: 5px;
    max-width: 491px;
}

.recent-posts-flex-item {
    margin-left: 5px;
    max-width: 491px;
}
.h3-title {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    background: none;
    text-shadow: #111 0px 0px 10px;
    margin-top: 10px;
}

.social-links {

    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    img {
        border-style: none;
        border-width: 0px;
        margin: 0px;
        padding: 0px;
    }

    ul {
        padding: 0;
        list-style-type: none;


        li {
            display: inline-block;
            margin: 10px 10px 10px 0px;

        }
    }
}

.recent-posts {

    ul {
        padding: 0;
        list-style-type: none;
    }
}

.linkedin-logo {
    max-width: 169px;
    height: auto;
}

.stackoverflow-logo {
    max-width: 160px;
    height: auto;
}

.solores-logo {
    max-width: 50px;
    height: auto;
}

.select-posts {

    select {
        font-weight: bold;
        text-align: center;
    }

    option {
        font-weight: bold;
    }
}

.share {
    text-align: center;

    .share-linkedin {
        display: inline-block;

        img {
            max-width: 50px;
            height: auto;
        }
    }

    .share-facebook {
        display: inline-block;

        img {
            max-width: 50px;
            height: auto;
        }
    }
}

.copyright {
    text-align: center;
}
