---
---

@import "{{ site.theme }}";

body {
    -moz-tab-size: 4;
    tab-size: 4;
}

.inner {
    max-width: 992px;
}


#project_title {
    a {
        color: inherit;
    }
}

.social-links {

    img {
        border-style: none;
        border-width: 0px;
        margin: 0px;
        padding: 0px;
    }

    ul {
        padding: 0;
        list-style-type: none;


        li {
            display: inline-block;
            margin: 0px 10px 10px 10px;

        }
    }
}

.recent-posts {
    float: right;

    ul {
        list-style-type: none;
    }
}

.linkedin-logo {
    max-width: 240px;
    height: auto;
}

.select-posts {

    select {
        font-weight: bold;
        text-align: center;
    }

    option {
        font-weight: bold;
    }
}

.share {
    text-align: center;

    .share-linkedin {
        display: inline-block;

        img {
            max-width: 50px;
            height: auto;
        }
    }

    .share-facebook {
        display: inline-block;

        img {
            max-width: 50px;
            height: auto;
        }
    }
}

.copyright {
    text-align: center;
}
